{% extends "base.html" %}
{% load static %}

{% block conteudo %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
    </nav>
    <h1>{{ titulo }}</h1>
    <h3>{{ sub_titulo }}</h3>
    <div class="p-5 text-center bg-image rounded-3" id="main-image">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
            </div>
        </div>
    </div>
    </div>
    <br/>
    <p>
        {{ texto_explicativo }}
    </p>
{% endblock %}